@import url("https://fonts.googleapis.com/css2?family=Kings&display=swap");
@font-face {
  font-family: "Tengwar";
  src: url("../../assets/webfonts/TengwarAnnatar.ttf"); }

@font-face {
  font-family: "Tengwar";
  src: url("../../assets/webfonts/TengwarAnnatarItalic.ttf");
  font-style: italic; }

@font-face {
  font-family: "Tengwar";
  src: url("../../assets/webfonts/TengwarAnnatarBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Tengwar";
  src: url("../../assets/webfonts/TengwarAnnatarBoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

body, html {
  height: 100%;
  margin: 0;
  font-family: "Kings", cursive;
  font-size: 22px;
  line-height: 1.5;
  color: #777; }

@media (min-width: 320px) {
  body, html {
    font-size: calc(22px + 3 * ((100vw - 320px) / 680)); } }

@media (min-width: 1000px) {
  body, html {
    font-size: 25px; } }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: normal; }

.smaller {
  font-size: 0.8rem; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #777; }

.left {
  float: left;
  margin: 0; }

.right {
  float: right; }

.clear {
  clear: both;
  text-align: center; }

.bgimg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@supports (-webkit-touch-callout: none) {
  .bgimg {
    background-attachment: scroll; } }

.bgimg-slub {
  background-image: url("../../images/tytulowa-768.jpg");
  min-height: 100%; }

.bgimg-wesele {
  background-image: url("../../images/wesele-768.jpg");
  min-height: 100%; }

.bgimg-parking {
  background-image: url("../../images/parking-768.jpg");
  min-height: 100%; }

.bgimg-fotografie {
  background-image: url("../../images/fotografie-768.jpg");
  min-height: 100%; }

.bgimg-kontakt {
  background-image: url("../../images/kontakt-768.jpg");
  min-height: 100%; }

@media (min-width: 769px) {
  .bgimg-slub {
    background-image: url("../../images/tytulowa-1024.jpg"); }
  .bgimg-wesele {
    background-image: url("../../images/wesele-1024.jpg"); }
  .bgimg-parking {
    background-image: url("../../images/parking-1024.jpg"); }
  .bgimg-fotografie {
    background-image: url("../../images/fotografie-1024.jpg"); }
  .bgimg-kontakt {
    background-image: url("../../images/kontakt-1024.jpg"); } }

@media (min-width: 1025px) {
  .bgimg-slub {
    background-image: url("../../images/tytulowa-1200.jpg"); }
  .bgimg-wesele {
    background-image: url("../../images/wesele-1200.jpg"); }
  .bgimg-parking {
    background-image: url("../../images/parking-1200.jpg"); }
  .bgimg-fotografie {
    background-image: url("../../images/fotografie-1024.jpg"); }
  .bgimg-kontakt {
    background-image: url("../../images/kontakt-1200.jpg"); } }

@media (min-width: 1201px) {
  .bgimg-slub {
    background-image: url("../../images/tytulowa-1568.jpg"); }
  .bgimg-wesele {
    background-image: url("../../images/wesele-1568.jpg"); }
  .bgimg-parking {
    background-image: url("../../images/parking-1568.jpg"); }
  .bgimg-fotografie {
    background-image: url("../../images/fotografie-1024.jpg"); }
  .bgimg-kontakt {
    background-image: url("../../images/kontakt-1568.jpg"); } }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  mix-blend-mode: overlay;
  font-family: "Tengwar";
  font-style: italic;
  font-weight: bold; }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  letter-spacing: 10px; }

.content {
  max-width: 30rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  text-align: left; }

/* Turn off parallax scrolling for tablets and phones */

/*# sourceMappingURL=main.css.map */